

h1 {
    color: brown
}

body {
    background-color: black;
    color: aliceblue;
}

.pfp {

}

.smokey-woman
{
    max-width: 100%;
}

.header {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 650px;
}
.namething
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container {
    display: flex;
}


.firstname {
    text-align: center;
}

.lastname {
    text-align: center;
} 

.cards {
    text-align: center;
    
}

.paragraph,.paragraph2 {
    display: flex;
    flex-direction: row;
}

.para1,.para2,.para3,.para4,.para5,.para6 {
    flex: 0 1 24%;
}

.para2,.para5 {
    color: lightgrey

}

.para3, .para6 {
    color: gray
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    display: inline;
    float: left;
    
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
  }


@import url(https://fonts.googleapis.com/css?family=Khula:700);
body {
  background: #111;
}
.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:4em;
  text-align:center;
  display:block;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

