h1 {
  color: brown;
}

body {
  /* background-color: black; */
  color: black;
}

a {
  color: black;
}

.pfp img {
  width: 70px;
}

.smokey-woman {
  max-width: 100%;
}

.header {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 650px;
}
.namething {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.container {
  display: flex;
}

.firstname {
  text-align: center;
}

.lastname {
  text-align: center;
}

.card-holder {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.cards {
  display: inline;
  margin: 20px;
  padding: 10px;
  text-align: center;
  border: 1px white solid;
  flex: 0 1 300px;
  background-image: linear-gradient(white,tan,white);
   /* Rounds the card edges */
  border-radius: 5px;

   /* 1st arg: left-right; 2nd arg: up-down; 3rd arg: blur; 4th: color */
   box-shadow: 8px 8px 10px rgba(50, 25, 25, 0.762);
}

.paragraph {
  flex: 0 1 24%;
  border: 1px white solid;
  margin: 15px auto;
  padding: 20px;
  /* Rounds the card edges */
  border-radius: 5px;
}

.paragraph2 {
  flex: 0 1 24%;
  border: 1px white solid;
  margin: 15px auto;
  padding: 20px;
  /* Rounds the card edges */
  border-radius: 5px;
}

.para2,
.para5 {
  color: lightgrey;
}

.para3,
.para6 {
  color: gray;
}

.para1,.para2,.para3 {
  flex: 0 1 24%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: tan;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

li {
  display: inline;
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: darkgray;
  background-color: #111;
}

@import url(https://fonts.googleapis.com/css?family=Khula:700);
/* body {
  background: #111;
} */
.hidden {
  opacity: 0;
}
.console-container {
  font-family: Khula;
  font-size: 4em;
  text-align: center;
  display: block;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

/* Landscape phones and down */
@media (max-width: 480px) { 
  .console-container {
      font-size: 2em;
  }

  nav > ul {
    flex-direction: column;
  }

  .pfp > img {
    height: 120px;
    width: 120px;
  }
} 

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

 }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) { 
  .card-holder {
    grid-template-columns: 1fr 1fr;
  }
 }

/* Large desktop */
@media (min-width: 1200px) { 
  .card-holder {
    grid-template-columns: 1fr 1fr 1fr;
  }

 }

 @media screen and (prefers-color-scheme: dark)
 {
  body{
    color: white;
    background-color: black;
  }

  .cards{
    background-image: linear-gradient(grey,black,grey);
    box-shadow: 8px 8px 10px rgba(103, 213, 243, 0.775);
  }

  ul {
    background-color: #333;
  }

 }


